@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes aurora {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

@layer utilities {
  .animate-aurora {
    animation: aurora 60s linear infinite;
  }
  
  .animate-blob {
    animation: blob 7s infinite;
  }
  
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

.relative {
  position: relative;
}

@keyframes gradient-foreground-1 {
  from,
  16.667%,
  to {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }
}

.animate-gradient-foreground-1 {
  animation: gradient-foreground-1 8s infinite;
}

@keyframes gradient-foreground-2 {
  from,
  to {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }

  16.667%,
  66.667% {
    opacity: 0;
  }
}

.animate-gradient-foreground-2 {
  animation: gradient-foreground-2 8s infinite;
}

@keyframes gradient-foreground-3 {
  from,
  50%,
  to {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }
}

.animate-gradient-foreground-3 {
  animation: gradient-foreground-3 8s infinite;
}

@keyframes gradient-background-1 {
  from,
  16.667%,
  to {
    opacity: 0;
  }

  25%,
  91.667% {
    opacity: 1;
  }
}

.before\:animate-gradient-background-1::before {
  content: "";
  animation: gradient-background-1 8s infinite;
}

@keyframes gradient-background-2 {
  from,
  to {
    opacity: 1;
  }

  33.333%,
  50% {
    opacity: 0;
  }

  25%,
  58.333% {
    opacity: 1;
  }
}

.before\:animate-gradient-background-2::before {
  content: "";
  animation: gradient-background-2 8s infinite;
}

@keyframes gradient-background-3 {
  from,
  58.333%,
  91.667%,
  to {
    opacity: 1;
  }

  66.667%,
  83.333% {
    opacity: 0;
  }
}

.before\:animate-gradient-background-3::before {
  content: "";
  animation: gradient-background-3 8s infinite;
}

/* Gradient Colors */
.from-gradient-1-start {
  --tw-gradient-from: #007cf0;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(0, 124, 240, 0));
}

.from-gradient-2-start {
  --tw-gradient-from: #7928ca;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(121, 40, 202, 0));
}

.from-gradient-3-start {
  --tw-gradient-from: #d97706;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(255, 77, 77, 0));
}

.to-gradient-1-end {
  --tw-gradient-to: #00dfd8;
}

.to-gradient-2-end {
  --tw-gradient-to: #ff0080;
}

.to-gradient-3-end {
  --tw-gradient-to: #fbbf24;
}

/* AI Specific Gradients */
.from-gradient-1-ai {
  --tw-gradient-from: #fffb00;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(255, 255, 0, 0));
}

.from-gradient-2-ai {
  --tw-gradient-from: #8000ff;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(129, 53, 206, 0));
}

.from-gradient-3-ai {
  --tw-gradient-from: #00ff26;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(121, 40, 202, 0));
}

.to-gradient-1-ai {
  --tw-gradient-to: #78006a;
}

.to-gradient-2-ai {
  --tw-gradient-to: #853500;
}

.to-gradient-3-ai {
  --tw-gradient-to: #850000;
}

/* Utility Classes */
.select-none {
  -webkit-user-select: none;
  user-select: none;
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.tracking-tightest {
  letter-spacing: -0.09em;
}

/* Before Element Styles */
.before\:absolute::before {
  content: "";
  position: absolute;
}

.before\:top-0::before {
  content: "";
  top: 0px;
}

.before\:bottom-0::before {
  content: "";
  bottom: 0px;
}

.before\:left-0::before {
  content: "";
  left: 0px;
}

.before\:z-0::before {
  content: "";
  z-index: 0;
}

.before\:w-full::before {
  content: "";
  width: 100%;
}

.before\:px-2::before {
  content: "";
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.before\:text-center::before {
  content: "";
  text-align: center;
}

.before\:text-black::before {
  content: "";
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.before\:content-\[attr\(data-content\)\]::before {
  content: attr(data-content);
}

/* Dark Mode Adjustments */
.dark .before\:text-black::before {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
